.fontStyle {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: none;
}
.listStyle {
  list-style-type: none;
}
* {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 40%;
  margin-top: 100px;
  padding: 0px 20px;
}
.container ul ul {
  line-height: 20px;
}
.container ul ul li {
  display: inline;
}
.container ul ul li h5 {
  font-weight: bold;
  font-size: 12px;
  color: gray;
  padding-top: 10px;
}
.container ul ul li p {
  font-size: 16px;
  color: #524f4f;
  font-weight: bold;
  padding: 10px 0px;
}
.container ul ul li a {
  color: #7878f1;
  font-size: 16px;
  user-select: pointer;
  background: none;
  font-weight: bold;
  text-decoration: none;
}
.container ul ul li a i {
  color: #7878f1;
  font-size: 20px;
  position: relative;
  left: 16px ;
  top: 4px;
  user-select: pointer;
}
.container ul ul li a:hover {
  color: #7878f1;
  position: relative;
  left: 10px;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
}
.container ul ul li a:hover i {
  font-size: 24px;
}
.container li h1 {
  font-size: 30px;
  font-weight: 100;
}
/* Jehral Code Start*/
.hero {
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.content {
  max-width: 650px;
  display: flex;
  flex-direction: column;
}
.content h1 {
  justify-content: left;
  color: black;
  font-size: 38px;
  padding-top: 5%;
  padding-bottom: 20px;
}
.content p {
  position: relative;
  bottom: 10px;
  line-height: 20px;
  font-size: 18px;
  color: black;
  padding-top: 20px;
}
.content span {
  font-weight: lighter;
  font-size: 38px;
}
.content a {
  width: 180px;
  position: relative;
  background-color: #283883;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: lighter;
  padding: 10px 35px 12px 15px;
  transition: transform 0.4s;
  text-align: left;
  top: 10px;
  margin-bottom: 40px;
}
.content h2 {
  position: relative;
  bottom: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 23px;
  font-weight: bold;
}
.content h3 {
  color: black;
  font-size: 25px;
}
.content .btn:hover {
  background-color: orange;
  transform: scale(1.1);
}
.hero .content a i {
  font-size: 22px;
  position: relative;
  left: 45px;
  top: 3px;
}
* {
  box-sizing: border-box;
}
/* Jehral Code End*/
* {
  box-sizing: border-box;
}
/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  max-height: 700px;
}
.mySlides {
  display: none;
}
.story_image {
  height: 400px;
  width: 100%;
}
.dots {
  bottom: 50px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin-right: 15px;
  background-color: white;
  border-radius: 50%;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: orange;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
